:root {
  --darktext: #222;
  --red: #e63946;
  --light: #f1faee;
  --primary: #457b9d;
  --primarylight: #a8dadc;
  --primarydark: #1d3557;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darktext);
  background-color: var(--light);
  font-size: 10px;
  line-height: 1;
}
img {
  max-width: 100%;
}
main {
  padding: 2rem;
}
a {
  color: var(--primary);
}
a:hover {
  color: var(--primarydark);
}
p {
  font-size: 1.8rem;
}
h1,
h2 {
  font-size: 2rem;
  color: var(--red);
  margin-bottom: 2rem;
}
/* Nav */
.nav {
  list-style: none;
  padding: 2rem;
  margin: 0;
  background-color: var(--primarylight);
}
.nav-item {
  display: inline-block;
  font-size: 2.4rem;
  margin-right: 1rem;
}
.nav-item a {
  text-decoration: none;
}
.nav-item-active {
  font-weight: bold;
  text-decoration: underline;
}

.foodlist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}
.foodlist-item {
  margin: 1rem;
  width: calc(100% - 2rem);
}

@media (min-width: 600px) {
  .foodlist-item {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 1200px) {
  .foodlist-item {
    width: calc(25% - 2rem);
  }
}

.foodlist-item-link:hover {
  filter: brightness(110%);
}
.foodlist-item-img {
  border-radius: 2rem;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.foodlist-item-title {
  font-size: 1.8rem;
}
.foodlist-item-time {
  display: inline;
  font-size: 1.8rem;
  margin-right: 1rem;
  color: var(--primarydark);
  border-radius: 0.25rem;
  text-decoration: none;
}

/* Tags */
.taglist {
  display: flex;
  flex-wrap: wrap;
}
.taglist .food-tag {
  margin-bottom: 0.5rem;
}
.food-tag {
  text-transform: capitalize;
  font-size: 1.4rem;
  padding: 1rem;
  margin-right: 1rem;
  background-color: var(--red);
  color: var(--light);
  border-radius: 0.25rem;
  text-decoration: none;
}

.dinnerlist-item {
  font-size: 20px;
  margin-top: 2rem;
}
