---
layout: layouts/home.njk
eleventyNavigation:
  key: Hjem
  order: 1
---

{% set maxPosts = collections.posts.length | min(20) %}
<h1>Siste 20 oppskrifter</h1>

{% set postslist = collections.posts | head(-20) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<div>
<p>Flere kan finnes i <a href="{{ '/posts/' | url }}">akrivet</a>.</p>
</div>
