<ul class="postlist">
{% for post in postslist | reverse %}
  <li class="postlist-item">
    <a href="{{ post.url | url }}" class="postlist-link">
    <img class="postlist-item-img" src={{ post.data.thumbnail }} alt={{ post.data.title }} />

    {% if post.data.title %}<p class="postlist-item-title">{{ post.data.title }}</p>{% endif %}
    </a>
    <div class="postlist-subtitle">
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </div>
  </li>
{% endfor %}
</ul>
