<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oppskrifter</title>
    <meta name="description" content="Our collection of recipes">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <header>
      <ul class="nav">
        <li class="nav-item"><a href="/">Hjem</a></li>
        <li class="nav-item {{ 'nav-item-active' if '/oversikt' in page.url }}"><a href="/oversikt">Oversikt</a></li>
        <li class="nav-item {{ 'nav-item-active' if '/oppskrifter' in page.url }}"><a href="/oppskrifter">Oppskrifter</a></li>
       <li class="nav-item"><a href="/admin">Admin</a></li>
      </ul>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  </body>
</html>
