---
layout: layouts/base.njk
---
<article>
{% if thumbnail %}<img class="article-img" src={{thumbnail}} alt={{title}} />{% else %}<img class="article-img" src="/img/fallback.png" alt="Mangler bilde"/>{% endif %}
<h1>{{ title }}</h1>
<h2>Ingredienser</h2>
{% for ing in ingredients %}
{{ ing }}
{% endfor %}
{{ content | safe }}
</article>
