---
layout: layouts/base.njk
---
<article>
{% if thumbnail %}<img class="article-img" src={{thumbnail}} alt={{title}} />{% else %}<img class="article-img" src="/img/fallback.png" alt="Mangler bilde"/>{% endif %}
<h1>{{ title }}</h1>
{% if tid %}<p>Tar ca {{tid}} min å lage.</p>{% endif %}
<h2>Ingredienser</h2>
<ul class="ingredientslist">
{% for vare in ingredients %}
<li class="ingredientslist-item">{{ vare }}</li>
{% endfor %}
</ul>
<h2>Steg</h2>
{{ content | safe }}
</article>
